@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Hind+Siliguri&family=Inter:wght@400;600;700&display=swap');

body {
    background-color: #1c1c1c;
    background-image: url(img/bg.svg);



}


::-webkit-scrollbar {
    background-color: #37346e;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #7972ffb2;

}

::selection {
    color: rgb(243, 243, 243);
    background-color: #504c97e1;


}




#preloader {
    background: rgb(29, 29, 29) url(img/preloader.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    background-size: 100px;
    top: 0;
    position: fixed;
    z-index: 99999;


}

#navbar {

    background-color: #1414141e;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

}

.navbar {

    backdrop-filter: blur(8px);
}

.brand {

    font-family: 'Fredoka One', cursive;
    font-size: 20px;


}


/* the hover of links animation below */

.nav-link {
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.nav-link:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #817affd3;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-link:hover:after {
    width: 100%;
    left: 0;
}




.interFont {

    font-family: 'Inter', sans-serif;


}

.wrapper {
    margin-top: 64px;
    height: 100vh;

}

.heroImg {
    width: 600px;
    margin: 30px 0px;



}

.title {


    background-color: #817affd3;
    height: 80px;

    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    border-radius: 5px;



}

.fredokaFont {
    font-family: 'Fredoka One', cursive;



}




.nameSubtitle {
    font-weight: 600;
    color: #c1c1c1ad;


}

.subEl {
    font-weight: 700;
    line-height: 30px;
    width: 80px;
    border-bottom: 2px solid #817affd3;
    padding-bottom: 5px;

}

.aboutText {

    color: #C1C1C1;
    text-align: justify;


}

.mym {

    font-family: 'Hind Siliguri', sans-serif;

    /* I just used a freaking whole new font for stying just a word lmao */

}


.links {
    color: #C1C1C1;


}


/* for the random quote generator */

.randomQuotes {

    width: auto;
    display: flex;
    flex-direction: column;
}

.quote-box {
    border: 1px solid #7972ffb2;
    padding: 30px 20px;
    border-radius: 10px;

}

#quote {
    color: rgb(255, 255, 255);
    text-align: center;
}

#author {
    float: right;
    color: #888;
    font-weight: bold;
    font-style: italic;
    margin-top: 10px;
}




/* footer */

footer {
    font-weight: 600;
    color: #8f8f8f98;



}

.redText {
    color: #eb4d7c;



}

.error1 {
    font-size: 500%;



}

.error2 {

    font-size: 150%;

}